
@{
    ViewBag.Title = "index";
}

<h2 class="text-center">Gallery</h2>
<div class="container">
    <div class="row row-cols-3" style="padding:5px;">
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/4.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/5.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/6.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/7.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/8.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/9.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/10.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/11.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/12.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/13.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/14.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/15.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/16.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/17.jpg" /></div>
        <div class="col" style="padding:15px;"><img style="height:400px; width:400px;" src="~/Project Images/18.jpg" /></div>


    </div>
</div>

