@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    No 16,South End Road<br />
    Surana College Bangalore
    <abbr title="Phone">P:</abbr>
    9164184391
</address>

<address>
    <strong>Developers:</strong>   <a href="mailto:mamathadilish2001@gmail.com"><strong>Mamatha Dilish</strong></a><br />
    <strong>NCC Representative:</strong> <a href="mailto:rmishra4363@yahoo.com"><strong>Rishikesh Mishra</strong></a>
</address>