@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Welcome to Surana College NCC</h1>


    <div id="carouselExampleIndicators" class="carousel slide my-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="d-block" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="active" aria-current="true" aria-label="Slide 3"></button>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Project Images/1.jpg" class="d-block w-100" style="height: 600px; object-fit: cover;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Project Images/2.jpg" class="d-block w-100" style="height: 600px; object-fit: cover;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Project Images/3.jpg" class="d-block w-100" style="height: 600px; object-fit: cover;" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



</div>

<div class="row my-4">
    <p class="lead text-white">
        NCC is not just about Parades, Khakis and camps. It aims to provide
        leadership in all walks of life. Every Year, Lakhs of Candidates turn
        into cadets to explore a life of Adventure, a Life which helps them
        achieve their better selves. Any Activity you could think of to improve
        any aspect of you . NCC conducts it , Any Activity you could think of to
        help society , NCC Conducts it .By being a part of NCC you turn yourself
        into someone who is self-confident, has the ability to take quick and
        effective decisions, Knows how to handle men ,time ,pressure , You get
        to know how and what all happens in the background for an event to be
        conducted smoothly. It makes you physically and mentally strong. It
        brings out the Leader in You.
        <strong>
            <br />If You are a part of it , then embrace it , because these times
            are never going to come back. <br />If You are not, You have no idea ,
            what you have missed!!!!
        </strong>
    </p>
    @*<p><a href="https://www.suranacollege.edu.in/ncc.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>How to Join</h2>
        <p>
            Every Year Surana College conducts Enrollments for the freshers in degree or in PU 1st Year.
            The criteria for selection is a 1.2km Run,20 Pushups,20 Situps(For Boys) and a panel interview(For Boys and Girls Both).Since there are so many aspirants
            the selection rate is very less,Not to dishearten those who couldn't get through,This website is an attempt to keep you updated with Surana College NCC.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Get more than You have sweated for</h2>
        <p>
            NCC Conducts Drama Competitions,Painting Contests,Speech Contests to introduce you with the creative and a more self-confident side of you,
            And don't Forget the out of out marks in extra-curricular activities is an added bonus.With NCC C certificate,You can directly appear for SSB Interviews to become Armed Forces Officers,You dont have to clear CDS Examination conducted by UPSC.And ,Even if you clear CDS Exam there are 13 seats reserved all over India for NCC Cadets in the Indian Military Academy.
        </p>
        @*<p><a class="btn btn-default" href="https://joinindianarmy.nic.in/graduate-non-upsc-man.htm">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>CAMPS..Who doesn't love going to a place for 10 days and still getting full attendance</h2>
        <p>NCC Camps bring out a lot of things in you.A night without mattress/on grass teaches you to survive in any condition.You make a lot of friends,Compete with them in Variuous Sports like Volleyball,BasketBall,etc</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>